<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Segunda Etapa</title>
</head>
<body>
        <nav>
        <a href="../index.html">INICIO</a>
        <a href="primeraEtapa.html">primera Etapa</a>
        <a href="terceraEtapa.html">Tercera etapa</a>
    </nav>
    <main>
        <h1>que haremos en esta etapa?</h1>
        <p>construiremos directamente el almacen</p>
        <img src="../static/images/image.png" alt="">
        <div>
            <h2>¿que te recomiendo?</h2>
            <p>empieza de abajo para arriba</p>
        </div>
        <div>
            <a href="primeraEtapa.html" class="btn">atras</a>
            y
            <a href="terceraEtapa.html" class="btn">proximo</a>
        </div>
    </main>
</body>
</html>