<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Tercera etapa</title>
</head>
<body>
        <nav>
        <a href="../index.html">INICIO</a>
        <a href="templates/segundaEtapa.html">Tercera etapa</a>
        <a href="templates/primeraEtapa.html">primera Etapa</a>

    </nav>
    <main>
        <h1>¿Que haremos aca?</h1>
        <p>disfrutaremos de este almacen</p>
        <img src="../static/images/image.png" alt="">
        <div>
            <a href="segundaEtapa.html" class="btn">atras</a>
            <a href="../index.html" class="btn">INICIO</a>
        </div>
    </main>
    
</body>
</html>